In [4]:
from pydataset import data
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), 
# then give an example of what a true positive, true negative, type I and type II errors would look like. Note 
# that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more 
#precise questions that could be tested.

    # A. Has the network latency gone up since we switched internet service providers?
    # B. Is the website redesign any good?
    # C. Is our television ad driving more sales?

In [ ]:
# A. Has the network latency gone up since we switched internet service providers?
# There is no difference in network latency since we switched internet service providers.
# Network latency has improved since we switched internet service providers.

In [ ]:
# B. Is the website redesign any good?
# The website redesign is working to allow customers to use paypal for payments.
# The website redesign is not working to allow customers to use payal for payments.

In [ ]:
# C. Is our television ad driving more sales?
# The tv ad to buy more widgets is driving more sales.
# The tv ad is not driving more sales to buy more widgets.

In [3]:
from math import sqrt

In [14]:
# 1. Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. 
# A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 
# sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of 
# significance.

# There is no difference in the average time to sell homes between the two offices.
# There IS a difference in the average time to sell homes between the tow offices.

alpha = .05
t, p = stats.ttest_ind_from_stats(mean1=90, std1=15, nobs1=40, mean2=100, std2=20, nobs2=50, equal_var=False)
t,p

(-2.7091418459143854, 0.00811206270346016)

In [15]:
if p < alpha:
    print("Reject null hypothesis as there is evidence to suggest there is a difference in the avg time to sell")
else:
    print("Fail to reject null hypothesis")

Reject null hypothesis as there is evidence to suggest there is a difference in the avg time to sell

In [5]:
# 2. Load the mpg dataset and use it to answer the following questions:

    # Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
    

mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [25]:
mpg[mpg.year == 2008]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,2008,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,2008,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,2008,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,2008,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,2008,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [ ]:
# Are compact cars more fuel-efficient than the average car?

In [ ]:
# Do manual cars get better gas mileage than automatic cars?