In [1]:
from pydataset import data
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [2]:
# take a look at the available datasets
data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [4]:
# Extract just the row that contains the HairEyeColor dataset usint iloc
data().iloc[4]

dataset_id                                 HairEyeColor
title         Hair and Eye Color of Statistics Students
Name: 4, dtype: object

In [5]:
# store that data in a dataframe named df
df = data("HairEyeColor")

In [6]:
# look at the numbers of rows and columns
df.shape

(32, 4)

In [7]:
# look at the first 5 rows
df.head()

    Hair    Eye   Sex  Freq
1  Black  Brown  Male    32
2  Brown  Brown  Male    53
3    Red  Brown  Male    10
4  Blond  Brown  Male     3
5  Black   Blue  Male    11

In [8]:
# write the code to view a single row
df.head(1)

    Hair    Eye   Sex  Freq
1  Black  Brown  Male    32

In [9]:
df.iloc[1]

Hair    Brown
Eye     Brown
Sex      Male
Freq       53
Name: 2, dtype: object

In [10]:
# is each row "REALLY" a unique combination or are there any duplicates?
df.groupby(['Hair', 'Eye', 'Sex']).count()['Freq'].sum()

32

In [12]:
# write code to compute how many studens are represented in this dataset.
df.Freq.sum()

592

In [ ]:
# conactenating using '+' with strings
df.['traits'] = df.Hair +