In [1]:
from pydataset import data
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from env import user, host, password

In [3]:
# For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), 
# then give an example of what a true positive, true negative, type I and type II errors would look like. Note 
# that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more 
#precise questions that could be tested.

    # A. Has the network latency gone up since we switched internet service providers?
    # B. Is the website redesign any good?
    # C. Is our television ad driving more sales?

In [ ]:
# A. Has the network latency gone up since we switched internet service providers?
# There is no difference in network latency since we switched internet service providers.
# Network latency has improved since we switched internet service providers.

In [ ]:
# B. Is the website redesign any good?
# The website redesign is working to allow customers to use paypal for payments.
# The website redesign is not working to allow customers to use payal for payments.

In [ ]:
# C. Is our television ad driving more sales?
# The tv ad to buy more widgets is driving more sales.
# The tv ad is not driving more sales to buy more widgets.

In [2]:
from math import sqrt

In [14]:
# 1. Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. 
# A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 
# sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of 
# significance.

# There is no difference in the average time to sell homes between the two offices.
# There IS a difference in the average time to sell homes between the tow offices.

alpha = .05
t, p = stats.ttest_ind_from_stats(mean1=90, std1=15, nobs1=40, mean2=100, std2=20, nobs2=50, equal_var=False)
t,p

(-2.7091418459143854, 0.00811206270346016)

In [15]:
if p < alpha:
    print("Reject null hypothesis as there is evidence to suggest there is a difference in the avg time to sell")
else:
    print("Fail to reject null hypothesis")

Reject null hypothesis as there is evidence to suggest there is a difference in the avg time to sell

In [5]:
# 2. Load the mpg dataset and use it to answer the following questions:

    # Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
    

mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [25]:
mpg[mpg.year == 2008]

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,2008,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,2008,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,2008,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,2008,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,2008,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [ ]:
# Are compact cars more fuel-efficient than the average car?

In [ ]:
# Do manual cars get better gas mileage than automatic cars?

# Correlation

In [27]:
# 1. Use the telco_churn data. Does tenure correlate with monthly charges? 
# Total charges? What happens if you control for phone and internet service?

#Null H: There is no linear correlation between tenure and monthly charges.
#Alt H: There is a liner relationship between tenure and monthly charges.

In [35]:
df = pd.read_csv("clean_telco.csv")

In [92]:
df.head()

   Reaction  Days  Subject
1  249.5600     0      308
2  258.7047     1      308
3  250.8006     2      308
4  321.4398     3      308
5  356.8519     4      308

In [30]:
#sns.pairplot(df, corner=True)
#plt.suptitle("sns.pairpolot visualizes continuous variable relationships")
#plt.show()

In [31]:
df.corr()

,id,is_senior_citizen,phone_service,internet_service,contract_int,monthly_charges,total_charges,tenure_month,has_churned,has_phone,has_internet,has_internet_and_phone,partner_dependents
id,1.000000,-0.002357,-0.001885,-0.002983,0.016536,-0.004876,-0.000188,0.008700,-0.018405,-0.006987,0.004490,-0.000466,-0.018068
is_senior_citizen,-0.002357,1.000000,0.113874,0.259006,-0.141981,0.219868,0.102385,0.015147,0.150709,0.008392,0.182737,0.167613,-0.150716
phone_service,-0.001885,0.113874,1.000000,0.308312,0.084590,0.491369,0.412877,0.259601,0.035450,0.674792,0.083188,0.503897,0.033350
internet_service,-0.002983,0.259006,0.308312,1.000000,-0.289365,0.905440,0.428525,0.030413,0.316479,0.094084,0.825888,0.793326,-0.132576
contract_int,0.016536,-0.141981,0.084590,-0.289365,1.000000,-0.073313,0.449706,0.676588,-0.396187,0.004286,-0.242800,-0.212869,0.299319
monthly_charges,-0.004876,0.219868,0.491369,0.905440,-0.073313,1.000000,0.651265,0.246022,0.192825,0.248275,0.763333,0.836041,-0.044482
total_charges,-0.000188,0.102385,0.412877,0.428525,0.449706,0.651265,1.000000,0.825733,-0.199488,0.113800,0.374967,0.405483,0.177757
tenure_month,0.008700,0.015147,0.259601,0.030413,0.676588,0.246022,0.825733,1.000000,-0.354054,0.009294,0.036038,0.037924,0.276539
has_churned,-0.018405,0.150709,0.035450,0.316479,-0.396187,0.192825,-0.199488,-0.354054,1.000000,0.010499,0.228536,0.209625,-0.182739
has_phone,-0.006987,0.008392,0.674792,0.094084,0.004286,0.248275,0.113800,0.009294,0.010499,1.000000,-0.171961,0.484578,0.006999
has_internet,0.004490,0.182737,0.083188,0.825888,-0.242800,0.763333,0.374967,0.036038,0.228536,-0.171961,1.000000,0.778389,-0.103761
has_internet_and_phone,-0.000466,0.167613,0.503897,0.793326,-0.212869,0.836041,0.405483,0.037924,0.209625,0.484578,0.778389,1.000000,-0.087677
partner_dependents,-0.018068,-0.150716,0.033350,-0.132576,0.299319,-0.044482,0.177757,0.276539,-0.182739,0.006999,-0.103761,-0.087677,1.000000

In [64]:
x = df.tenure_month
y = df.monthly_charges
alpha = 0.05

In [65]:
corr, p = stats.pearsonr(x, y)
corr, p

(0.24602222678861455, 1.8834273042677756e-97)

In [67]:
null_h = "There is no linear correlation between tenure and monthly charges"
alt_h = "There is a liner correlation between tenure and monthly charges"
corr, p = stats.pearsonr(x, y)

if p < alpha:
    print("We reject the null hypothesis")
    print("We falisifed", null_h)
    print("Evidence supports the", alt_h)
else:
    print("We fail to reject the null hypothesis")
    print("There is no evidence to support the ", alt_h)

We reject the null hypothesis
We falisifed There is no linear correlation between tenure and monthly charges
Evidence supports the There is a liner correlation between tenure and monthly charges

In [68]:
 #Total charges? 

#Null1 H: There is no linear correlation between tenure and total charges.
#Alt1 H: There is a liner relationship between tenure and total charges.

y = df.total_charges    
    
corr, p = stats.pearsonr(x, y)

In [69]:
corr, p

(0.8257328669183033, 0.0)

In [70]:
null1_h = "There is no linear correlation between tenure and total charges"
alt1_h = "There is a liner correlation between tenure and total charges"
corr, p = stats.pearsonr(x, z)

if p < alpha:
    print("We reject the null hypothesis")
    print("We falisifed", null1_h)
    print("Evidence supports the", alt1_h)
else:
    print("We fail to reject the null hypothesis")
    print("There is no evidence to support the ", alt1_h)

We reject the null hypothesis
We falisifed There is no linear correlation between tenure and total charges
Evidence supports the There is a liner correlation between tenure and total charges

In [ ]:
#What happens if you control for phone and internet service?

#Null2 H: There is no linear correlation between phone and internet service.
#Alt2 H: There is a liner relationship between phone and internet service.

In [73]:
phone_customers = df[df.phone_service == "yes"]
non_phone = df[df.phone_service == "no"]
x = phone_customers
y = df.internet_service
alpha = 0.05

In [74]:
corr, p = stats.pearsonr(x, y)

ValueError: x and y must have the same length.

In [60]:
corr, p

(0.24602222678861455, 1.8834273042677756e-97)

In [61]:
null2_h = "There is no linear correlation between phone and internet service."
alt2_h = "There is a liner correlation between phone and internet service."
corr, p = stats.pearsonr(x, y)

if p < alpha:
    print("We reject the null hypothesis")
    print("We falisifed", null2_h)
    print("Evidence supports the", alt2_h)
else:
    print("We fail to reject the null hypothesis")
    print("There is no evidence to support the ", alt2_h)

We reject the null hypothesis
We falisifed There is no linear correlation between phone and internet service.
Evidence supports the There is a liner correlation between phone and internet service.

In [62]:
corr, p = stats.pearsonr(x, z)

In [63]:
corr, p

(0.8257328669183033, 0.0)

In [78]:
# 2. Use the employees database.

    #Is there a relationship between how long an employee has been with the company and their salary?
    #Is there a relationship between how long an employee has been with the company and the number of titles 
    #they have had?
def get_data_from_sql(user, host, password, database, query):
    '''
    take in user, host, password, 
    database and query
    Access sql database
    return a pandas dataframe of the query results   
    '''
    
    url = f'mysql+pymysql://{user}:{password}@{host}/{database}'
        
    return pd.read_sql(query, url)

In [79]:
database = 'employees'

query = """

SELECT *
FROM salaries

where salaries.to_date = "9999-01-01"

"""

df = get_data_from_sql(user, host, password, database, query)

In [80]:
df.head()

   emp_no  salary   from_date     to_date
0   10001   88958  2002-06-22  9999-01-01
1   10002   72527  2001-08-02  9999-01-01
2   10003   43311  2001-12-01  9999-01-01
3   10004   74057  2001-11-27  9999-01-01
4   10005   94692  2001-09-09  9999-01-01

In [81]:
df.corr()

          emp_no    salary
emp_no  1.000000  0.001459
salary  0.001459  1.000000

In [82]:
# 3. Use the sleepstudy data. Is there a relationship between days and reaction time?
data("sleepstudy")

     Reaction  Days  Subject
1    249.5600     0      308
2    258.7047     1      308
3    250.8006     2      308
4    321.4398     3      308
5    356.8519     4      308
..        ...   ...      ...
176  329.6076     5      372
177  334.4818     6      372
178  343.2199     7      372
179  369.1417     8      372
180  364.1236     9      372

[180 rows x 3 columns]

In [85]:
df = data("sleepstudy")

In [86]:
df.corr()

          Reaction          Days       Subject
Reaction  1.000000  5.352302e-01  1.828947e-01
Days      0.535230  1.000000e+00  3.499509e-16
Subject   0.182895  3.499509e-16  1.000000e+00

In [ ]:
#Null H: There is no linear correlation between days and reaction time.
#Alt H: There is a liner relationship between days and reaction time.

In [87]:
x = df.Days
y = df.Reaction
alpha = 0.05

In [88]:
corr, p = stats.pearsonr(x, y)
corr, p

(0.5352302262650253, 9.894096322214812e-15)

In [90]:
null_h = "There is no linear correlation between days and reaction time."
alt_h = "There is a liner correlation between days and reaction time."
corr, p = stats.pearsonr(x, y)

if p < alpha:
    print("We reject the null hypothesis")
    print("We falisifed", null_h)
    print("Evidence supports the", alt_h)
else:
    print("We fail to reject the null hypothesis")
    print("There is no evidence to support the ", alt_h)

We reject the null hypothesis
We falisifed There is no linear correlation between days and reaction time.
Evidence supports the There is a liner correlation between days and reaction time.

# Chi Square

In [ ]:
# 1. Use the following contingency table to help answer the question of whether using a macbook and being a 
# codeup student are independent of each other.

                     # Codeup Student	Not Codeup Student
# Uses a Macbook	         49	                 20
# Doesn't Use A Macbook	      1	                 30

In [5]:
print(49+20)
print(1+30)

69
31

In [6]:
print(49+1)
print(20+30)

50
50

In [10]:
print(69+31)
print(50/100)
print(50/100)
print(69/100)
print(31/100)

100
0.5
0.5
0.69
0.31

In [12]:
print(0.5*0.69)
print(0.5*0.69)
print(0.5*0.31)
print(0.5*0.31)

0.345
0.345
0.155
0.155

In [13]:
index = ['Uses a Macbook', "Doesn't Use A Macbook"]
columns = ['Codeup Student', 'Not Codeup Student']

observed = pd.DataFrame([[49, 20], [1, 30]], index = index, columns = columns)
n = observed.values.sum()

expected = pd.DataFrame([[.345, .345], [.155, .155]], index = index, columns = columns)
chi2 = ((observed - expected)**2 / expected).values.sum()

nrows, ncols = observed.shape

degrees_of_freedom = (nrows - 1) * (ncols - 1)

p = stats.chi2(degrees_of_freedom).sf(chi2)

print('Observed')
print(observed)
print('---\nExpected')
print(expected)
print('---\n')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed
                       Codeup Student  Not Codeup Student
Uses a Macbook                     49                  20
Doesn't Use A Macbook               1                  30
---
Expected
                       Codeup Student  Not Codeup Student
Uses a Macbook                  0.345               0.345
Doesn't Use A Macbook           0.155               0.155
---

chi^2 = 13732.7438
p     = 0.0000

In [14]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

print('Observed\n')
print(observed.values)
print('---\nExpected\n')
print(expected)
print('---\n')
print(f'chi^2 = {chi2:.4f}')
print(f'p     = {p:.4f}')

Observed

[[49 20]
 [ 1 30]]
---
Expected

[[34.5 34.5]
 [15.5 15.5]]
---

chi^2 = 36.6526
p     = 0.0000

In [26]:
# 2. Choose another 2 categorical variables from the mpg dataset and perform a chi2 contingency table test with 
# them. Be sure to state your null and alternative hypotheses.

mpg = data('mpg')
mpg['transmission'] = mpg.trans.str[:-4] # a little cleaning goes a long way
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,transmission
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,auto
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,manual
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,manual
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,auto
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,auto

In [27]:
n = mpg.shape[0]

transmission_proportions = mpg.transmission.value_counts() / n
transmission_proportions

auto      0.67094
manual    0.32906
Name: transmission, dtype: float64

In [28]:
drive_proportions = mpg.drv.value_counts() / n
drive_proportions

f    0.452991
4    0.440171
r    0.106838
Name: drv, dtype: float64

In [29]:
expected = pd.DataFrame()

for transmission_group, t_prop in transmission_proportions.iteritems():
    for drive_group, d_prop in drive_proportions.iteritems():
        expected.loc[drive_group, transmission_group] = t_prop * d_prop

expected.sort_index(inplace=True)
expected

       auto    manual
4  0.295328  0.144843
f  0.303930  0.149061
r  0.071682  0.035156

In [30]:
expected *= n
expected

        auto     manual
4  69.106838  33.893162
f  71.119658  34.880342
r  16.773504   8.226496

In [31]:
observed = pd.crosstab(mpg.drv, mpg.transmission)
observed

transmission  auto  manual
drv
4               75      28
f               65      41
r               17       8

In [32]:
chi2 = ((observed - expected)**2 / expected).values.sum()
chi2

3.136769245971112

In [33]:
nrows, ncols = observed.shape

degrees_of_freedom = (nrows - 1) * (ncols - 1)

In [34]:
stats.chi2(degrees_of_freedom).sf(chi2)

0.20838152534979645